.Board{
 background-color: chocolate;
 max-width: 350px;
 height: 250px;
 padding: 25px 20px;
 margin: 0px 20px;
 border-radius: 20px;
 font-family: Arial, Helvetica, sans-serif;
 h1{
  color: #fff;
  font-size: 60px;
 }
 span{
  color: #fff;
  font-size: 23px;
 }
}